node_modules/
coverage/
.DS_Store
npm-debug.log*
.env
.env.local
.env.*.local
.idea/
.vscode/
dist/
build/
/.sass-cache
logs
*.log
/.parcel-cache
/.cache
*.tgz
yarn-debug.log*
yarn-error.log*
/.nyc_output
coverage/
.parcel-cache/
/.pnp.*
